{% extends 'layouts/app.twig' %}
{% block title %}Home{% endblock %}
{% block pageclass %}home{% endblock %}

{% block content %}
    
<section class="hero">
    <img src="assets/img/hero.jpg" alt="Amherstburg Home Health Care" draggable="false">
</section>

<section class="video">
    <div class="video__container container">
        <iframe src="https://player.vimeo.com/video/240213213" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>

<section class="main">
    <div class="main__container container">
        <div class="column-8">
            <h1>Getting To Know Your Healthcare Provider</h1>
            <h2>Our Philosophy</h2>
            <p>We pride ourselves on being more than just a store. Our philosophy is customer-centred care where you, our customer, are the heart of our business. Fitting the right product to the right person’s need is certainly of utmost importance and Amherstburg Home Health Medical Supplies takes great pride in getting that right. Just as important to us is the service aspect of our business.</p>
            <p>We work with your Occupational Therapist, your Physical Therapist and all healthcare providers on your behalf to make sure that our products and services match your need specifically. Whether it’s at our store, in your home or on-site in any facility, we deliver, we adjust, we explain and instruct and we don’t leave you until we feel you are safe and comfortable.</p>

            <h2>Our Staff</h2>
            <p>Our staff are experts in the healthcare field. We look forward to getting you started on the road to maintaining the greatest amount of independent living possible and staying with you whenever you need us.</p>
        </div>

        <div class="column-4">
            <div class="image">
                <img src="assets/img/1.jpg" alt="Amherstburg Home Health Care building" draggable="false">
            </div>
            <div class="image">
                <img src="assets/img/2.jpg" alt="scooters" draggable="false">
            </div>
            <div class="image">
                <img src="assets/img/3.jpg" alt="Amherstburg Pharmacy" draggable="false">
            </div>
        </div>
    </div>
</section>

<section class="adp">
    <div class="adp__container container">
        <img src="assets/img/adp-banner.jpg" class="adp-banner" alt="Ontario Assistive Devices Program (ADP) Approved Vendor in Power & Manual Wheelchairs, Seating, and Mobility" draggable="false">
        <p>Amherstburg Home Health Care is now an ADP approved vendor for:</p>
        <div class="approved__container container--full">
            <div class="column-3">
                <img src="assets/img/ambulation-aids-icon.jpg" alt="Ambulation Aids" draggable="false">
            </div>
            <div class="column-3">
                <img src="assets/img/manual-wheelchairs-icon.jpg" alt="Manual Wheelchairs" draggable="false">
            </div>
            <div class="column-3">
                <img src="assets/img/power-wheelchairs-icon.jpg" alt="Power Wheelchairs" draggable="false">
            </div>
            <div class="column-3">
                <img src="assets/img/seating-icon.jpg" alt="Seating" draggable="false">
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
