{% extends 'layouts/app.twig' %}
{% block pageclass %}rentals{% endblock %}
{% block title %}Rentals{% endblock %}

{% block content %}

<section class="page-hero">
    <img src="/assets/img/type-rentals-hero.jpg" draggable="false">
    <div class="page-hero__container container">
        <h1>Rentals</h1>
    </div>
</section>

<section class="main">
    <div class="main__container container">
        <h2>Rentals</h2>
        <p>Coming Soon</p>
    </div>
</section>

{% endblock %}
